body{
  background-color: black;
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif;
  align-items: center;
justify-content: center;
height: 100vh;
display: flex;
}
h1{
color:#F6F6F6;
}
.location{color: #5DB996;
  font-weight: bold;
}
.bio{
  color: #F6F6F6;
  font-style: italic;
  margin: 1rem 0;
}
.card{
  background-color: #141414;
  padding: 2rem;
  border-radius: 12px;
  text-align: center;
  width: 300px;
  color:#F6F6F6;

}
.images{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 1rem;
}
.links a{
color: #F6F6F6;
border-radius: 8px;
background-color: #333;
margin: 8px 0;
padding: 10px;
transition:background-color:0.3s;
text-decoration: none;}

.links{
  display: flex;
  flex-direction: column;
  gap:10px;
  margin-top: 10px;
}

.links a:hover {background-color: #5DB996;


}
